{% extends 'base.html' %} {% block title %} Categories {% endblock title %}
{%block content %}
<div class="row my-2">
  {% for c in categories %}
  <div class="col-lg-3 col-md-6 col-12 my-2 px-sm-2">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="font-weight-light">
          <a href="{{ c.get_absolute_path }}">{{c.name}}</a>
        </h3>
      </div>
      <div class="card-footer">
        {{c.num_products}} Product{{c.num_products|pluralize}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
