{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Place
Order {% endblock title %} {% block content %}
<div class="row my-3">
  <div class="col-md-6 col-12 mb-3">
    <div class="card">
      <h3 class="card-header mb-0">Order Summary</h3>
      <div class="card-body">
        {% for i in summary %}
        <p class="card-text d-flex justify-content-between mb-2">
          <span class="d-block"> {{i.quantity}} x {{i.product.name}} </span>
          <span class="d-block">Rs.{{i.total}}</span>
        </p>
        {% empty %}
        <h5 class="card-text font-weight-light">No items in cart.</h5>
        {% endfor %}
        <h4 class="card-text text-right">
          <span class="badge badge-primary">
            Grand Total - <b>Rs.{{cart.get_total_price}}</b>
          </span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card card-body">
      <h3 class="mb-3">Shipping Details</h3>
      <form method="POST">
        {% csrf_token %} {{form|crispy}} {% if cart.empty %}
        <div class="alert alert-danger my-2">Your cart is empty.</div>
        <button disabled class="btn btn-success">Place Order</button>
        {% else %}
        <button type="submit" class="btn btn-success">Place Order</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
